<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ResourceId>/subscriptions/e6ef950e-3a0a-4979-90e0-380a7bcaaaff/resourceGroups/ProyectoMintrabajo-RG/providers/Microsoft.Web/sites/backMintrabajo</ResourceId>
    <ResourceGroup>ProyectoMintrabajo-RG</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://backmintrabajo.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f7c0853b-4a93-45cc-8d0a-ea99270b62b9</ProjectGuid>
    <PublishUrl>https://backmintrabajo.scm.azurewebsites.net/</PublishUrl>
    <UserName>$backMintrabajo</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>